4_WCFLab1/6_7/Klient/Lab4_1/Connected Services/ServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Wyjatek7">
    <xs:sequence>
      <xs:element minOccurs="0" name="a" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="b" type="xs:int" />
      <xs:element minOccurs="0" name="opis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wyjatek7" nillable="true" type="tns:Wyjatek7" />
</xs:schema>