5_WCFLab2/1/Lab5_1/Lab5_1/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Server" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IZadanie1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IZadanie2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZadanie1_DlugieObliczenia_InputMessage">
    <wsdl:part name="parameters" element="tns:DlugieObliczenia" />
  </wsdl:message>
  <wsdl:message name="IZadanie1_DlugieObliczenia_OutputMessage">
    <wsdl:part name="parameters" element="tns:DlugieObliczeniaResponse" />
  </wsdl:message>
  <wsdl:message name="IZadanie1_Szybciej_InputMessage">
    <wsdl:part name="parameters" element="tns:Szybciej" />
  </wsdl:message>
  <wsdl:message name="IZadanie1_Szybciej_OutputMessage">
    <wsdl:part name="parameters" element="tns:SzybciejResponse" />
  </wsdl:message>
  <wsdl:message name="IZadanie2_PodajZadania_InputMessage">
    <wsdl:part name="parameters" element="tns:PodajZadania" />
  </wsdl:message>
  <wsdl:message name="IZadanie2_Zadanie_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Zadanie" />
  </wsdl:message>
  <wsdl:portType name="IZadanie1">
    <wsdl:operation name="DlugieObliczenia">
      <wsdl:input wsaw:Action="http://tempuri.org/IZadanie1/DlugieObliczenia" message="tns:IZadanie1_DlugieObliczenia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZadanie1/DlugieObliczeniaResponse" message="tns:IZadanie1_DlugieObliczenia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Szybciej">
      <wsdl:input wsaw:Action="http://tempuri.org/IZadanie1/Szybciej" message="tns:IZadanie1_Szybciej_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZadanie1/SzybciejResponse" message="tns:IZadanie1_Szybciej_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IZadanie2">
    <wsdl:operation name="PodajZadania">
      <wsdl:input wsaw:Action="http://tempuri.org/IZadanie2/PodajZadania" message="tns:IZadanie2_PodajZadania_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Zadanie">
      <wsdl:output wsaw:Action="http://tempuri.org/IZadanie2/Zadanie" message="tns:IZadanie2_Zadanie_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IZadanie1" type="tns:IZadanie1">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IZadanie1_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="DlugieObliczenia">
      <soap12:operation soapAction="http://tempuri.org/IZadanie1/DlugieObliczenia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Szybciej">
      <soap12:operation soapAction="http://tempuri.org/IZadanie1/Szybciej" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IZadanie2" type="tns:IZadanie2">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IZadanie2_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="PodajZadania">
      <soap12:operation soapAction="http://tempuri.org/IZadanie2/PodajZadania" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Zadanie">
      <soap12:operation soapAction="http://tempuri.org/IZadanie2/Zadanie" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Server">
    <wsdl:port name="NetNamedPipeBinding_IZadanie1" binding="tns:NetNamedPipeBinding_IZadanie1">
      <soap12:address location="net.pipe://localhost/ksr-wcf2-zad1" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ksr-wcf2-zad1</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-SMEMUEI\mipig</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IZadanie2" binding="tns:NetNamedPipeBinding_IZadanie2">
      <soap12:address location="net.pipe://localhost/ksr-wcf2-zad2" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ksr-wcf2-zad2</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-SMEMUEI\mipig</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>